<%= require('html-loader!./includes/head.html') %>
<body>
  <%= require('html-loader!./includes/header.html') %>
  <div class="wrapper">
    <h1><%= htmlWebpackPlugin.options.title %></h1>
    <div id="components">
    </div>
  </div>
</body>
