<%= require('html-loader!./includes/head.html') %>
<body>
  <%= require('html-loader!./includes/header.html') %>
  <div class="wrapper">
    <div class="container">
      <h2><%= htmlWebpackPlugin.options.title %></h2>
      <h3>Rating Widget</h3>
      <div id="rating-widget"></div>
    </div>
  </div>
</body>
